In [1]:
cd ..

/tmp/ml-cost-function

In [13]:
import pandas as pd

In [16]:
df = pd.read_csv("application_train.csv")
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [42]:
flag_cols = [i for i in df.columns if "FLAG" in i]
ext_cols = [i for i in df.columns if  "EXT" in i]
flag_cols = flag_cols[:12]
flag_cols

['FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5']

In [43]:
ext_cols

['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']

In [44]:
cols = df.columns[:30].tolist()+ flag_cols + ext_cols 
# cols = list(set(cols))
cols

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3']

In [45]:
cols = pd.Series(cols).unique()
cols

array(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE',
       'CNT_FAM_MEMBERS', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3'], dtype=object)

In [46]:
df = df.loc[:,cols]
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,Laborers,1.0,0,1,0,0,0.083037,0.262949,0.139376
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,Core staff,2.0,0,1,0,0,0.311267,0.622246,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,Laborers,1.0,0,0,0,0,NaN,0.555912,0.729567
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,Laborers,2.0,0,1,0,0,NaN,0.650442,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,Core staff,1.0,0,0,0,0,NaN,0.322738,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,Sales staff,1.0,0,0,0,0,0.145570,0.681632,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,NaN,1.0,0,1,0,0,NaN,0.115992,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,1,Managers,1.0,0,1,0,0,0.744026,0.535722,0.218859
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,Laborers,2.0,0,1,0,0,NaN,0.514163,0.661024
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,Laborers,2.0,0,1,0,0,0.734460,0.708569,0.113922

In [47]:

df = df.sample(frac=0.33, random_state=10)
df = df.iloc[:, :30]
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
179491,307997,0,Cash loans,F,N,N,0,103500.0,625536.0,26631.0,...,-4632,NaN,1,1,1,1,1,0,NaN,1.0
261005,402061,0,Revolving loans,M,Y,Y,0,202500.0,292500.0,14625.0,...,-3761,1.0,1,1,0,1,0,0,Sales staff,1.0
165031,291309,0,Cash loans,F,Y,Y,0,247500.0,1442596.5,46665.0,...,-5051,2.0,1,1,0,1,0,0,NaN,2.0
288742,434508,0,Cash loans,M,N,N,0,270000.0,545040.0,26509.5,...,-4407,NaN,1,1,0,1,1,0,Security staff,2.0
162776,288707,0,Cash loans,M,Y,Y,0,450000.0,540000.0,56835.0,...,-3215,3.0,1,1,0,1,0,0,Managers,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96554,212094,0,Cash loans,F,N,Y,1,270000.0,1113840.0,49063.5,...,-330,NaN,1,1,0,1,1,1,High skill tech staff,3.0
24931,128996,0,Cash loans,F,N,N,0,270000.0,755190.0,36459.0,...,-2519,NaN,1,1,0,1,1,0,Managers,2.0
126853,247115,0,Cash loans,F,N,N,0,315000.0,1174090.5,49873.5,...,-1084,NaN,1,1,0,1,0,0,Waiters/barmen staff,1.0
158353,283577,0,Cash loans,F,N,Y,0,315000.0,1812456.0,49972.5,...,-3023,NaN,1,1,0,1,0,0,High skill tech staff,2.0
229234,365505,0,Cash loans,M,Y,N,2,195750.0,1350000.0,44748.0,...,-2442,1.0,1,1,1,1,0,1,Core staff,4.0

In [48]:
df.to_csv("data/data.csv", index=False)
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
179491,307997,0,Cash loans,F,N,N,0,103500.0,625536.0,26631.0,...,-4632,NaN,1,1,1,1,1,0,NaN,1.0
261005,402061,0,Revolving loans,M,Y,Y,0,202500.0,292500.0,14625.0,...,-3761,1.0,1,1,0,1,0,0,Sales staff,1.0
165031,291309,0,Cash loans,F,Y,Y,0,247500.0,1442596.5,46665.0,...,-5051,2.0,1,1,0,1,0,0,NaN,2.0
288742,434508,0,Cash loans,M,N,N,0,270000.0,545040.0,26509.5,...,-4407,NaN,1,1,0,1,1,0,Security staff,2.0
162776,288707,0,Cash loans,M,Y,Y,0,450000.0,540000.0,56835.0,...,-3215,3.0,1,1,0,1,0,0,Managers,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96554,212094,0,Cash loans,F,N,Y,1,270000.0,1113840.0,49063.5,...,-330,NaN,1,1,0,1,1,1,High skill tech staff,3.0
24931,128996,0,Cash loans,F,N,N,0,270000.0,755190.0,36459.0,...,-2519,NaN,1,1,0,1,1,0,Managers,2.0
126853,247115,0,Cash loans,F,N,N,0,315000.0,1174090.5,49873.5,...,-1084,NaN,1,1,0,1,0,0,Waiters/barmen staff,1.0
158353,283577,0,Cash loans,F,N,Y,0,315000.0,1812456.0,49972.5,...,-3023,NaN,1,1,0,1,0,0,High skill tech staff,2.0
229234,365505,0,Cash loans,M,Y,N,2,195750.0,1350000.0,44748.0,...,-2442,1.0,1,1,1,1,0,1,Core staff,4.0