In [1]:
cd ..

/tmp/ml-cost-function

In [2]:
!wget https://gist.githubusercontent.com/AlexandreGazagnes/f6f999efed632eb1f289b878285ae529/raw/4308c1b035c80584c939836d46438f6131653db1/new-home-credit-light.csv

--2023-11-24 16:12:36--  https://gist.githubusercontent.com/AlexandreGazagnes/f6f999efed632eb1f289b878285ae529/raw/4308c1b035c80584c939836d46438f6131653db1/new-home-credit-light.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22002936 (21M) [text/plain]
Saving to: ‘new-home-credit-light.csv’

new-home-credit-lig 100%[===================>]  20,98M  3,11MB/s    in 8,3s

2023-11-24 16:12:45 (2,53 MB/s) - ‘new-home-credit-light.csv’ saved [22002936/22002936]

In [3]:
import pandas as pd 
df = pd.read_csv('new-home-credit-light.csv')
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3
0,0,Cash loans,F,N,N,0,103500.0,625536.0,26631.0,540000.0,...,0,NaN,1.0,0,1,0,0,NaN,0.694,0.479
1,0,Revolving loans,M,Y,Y,0,202500.0,292500.0,14625.0,292500.0,...,0,Sales staff,1.0,0,0,0,0,NaN,0.492,0.262
2,0,Cash loans,F,Y,Y,0,247500.0,1442596.5,46665.0,1129500.0,...,0,NaN,2.0,0,1,0,0,NaN,0.368,0.212
3,0,Cash loans,M,N,N,0,270000.0,545040.0,26509.5,450000.0,...,0,Security staff,2.0,0,1,0,0,NaN,0.755,0.213
4,0,Cash loans,M,Y,Y,0,450000.0,540000.0,56835.0,540000.0,...,0,Managers,2.0,0,0,0,0,0.279,0.720,0.546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101474,0,Cash loans,F,N,Y,1,270000.0,1113840.0,49063.5,900000.0,...,1,High skill tech staff,3.0,0,1,0,0,NaN,0.480,0.738
101475,0,Cash loans,F,N,N,0,270000.0,755190.0,36459.0,675000.0,...,0,Managers,2.0,0,1,0,0,NaN,0.680,0.201
101476,0,Cash loans,F,N,N,0,315000.0,1174090.5,49873.5,1080000.0,...,0,Waiters/barmen staff,1.0,0,1,0,0,NaN,0.688,0.274
101477,0,Cash loans,F,N,Y,0,315000.0,1812456.0,49972.5,1620000.0,...,0,High skill tech staff,2.0,0,1,0,0,NaN,0.643,0.400
101478,0,Cash loans,M,Y,N,2,195750.0,1350000.0,44748.0,1350000.0,...,1,Core staff,4.0,0,0,0,0,0.717,0.795,NaN

In [4]:
df.to_csv("data/data.csv", index=False)
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3
0,0,Cash loans,F,N,N,0,103500.0,625536.0,26631.0,540000.0,...,0,NaN,1.0,0,1,0,0,NaN,0.694,0.479
1,0,Revolving loans,M,Y,Y,0,202500.0,292500.0,14625.0,292500.0,...,0,Sales staff,1.0,0,0,0,0,NaN,0.492,0.262
2,0,Cash loans,F,Y,Y,0,247500.0,1442596.5,46665.0,1129500.0,...,0,NaN,2.0,0,1,0,0,NaN,0.368,0.212
3,0,Cash loans,M,N,N,0,270000.0,545040.0,26509.5,450000.0,...,0,Security staff,2.0,0,1,0,0,NaN,0.755,0.213
4,0,Cash loans,M,Y,Y,0,450000.0,540000.0,56835.0,540000.0,...,0,Managers,2.0,0,0,0,0,0.279,0.720,0.546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101474,0,Cash loans,F,N,Y,1,270000.0,1113840.0,49063.5,900000.0,...,1,High skill tech staff,3.0,0,1,0,0,NaN,0.480,0.738
101475,0,Cash loans,F,N,N,0,270000.0,755190.0,36459.0,675000.0,...,0,Managers,2.0,0,1,0,0,NaN,0.680,0.201
101476,0,Cash loans,F,N,N,0,315000.0,1174090.5,49873.5,1080000.0,...,0,Waiters/barmen staff,1.0,0,1,0,0,NaN,0.688,0.274
101477,0,Cash loans,F,N,Y,0,315000.0,1812456.0,49972.5,1620000.0,...,0,High skill tech staff,2.0,0,1,0,0,NaN,0.643,0.400
101478,0,Cash loans,M,Y,N,2,195750.0,1350000.0,44748.0,1350000.0,...,1,Core staff,4.0,0,0,0,0,0.717,0.795,NaN