In [1]:
cd ..

/tmp/ml-cost-function

In [6]:
import pandas as pd

In [10]:
df = pd.read_csv("application_train.csv")
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [11]:
df = df.sample(frac=0.3, random_state=10)
df = df.iloc[:, 1:20]
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION
179491,0,Cash loans,F,N,N,0,103500.0,625536.0,26631.0,540000.0,Family,Working,Secondary / secondary special,Single / not married,Municipal apartment,0.032561,-14921,-3844,-602.0
261005,0,Revolving loans,M,Y,Y,0,202500.0,292500.0,14625.0,292500.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.009657,-15458,-694,-9544.0
165031,0,Cash loans,F,Y,Y,0,247500.0,1442596.5,46665.0,1129500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,0.072508,-15603,-334,-3873.0
288742,0,Cash loans,M,N,N,0,270000.0,545040.0,26509.5,450000.0,Family,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,0.072508,-16392,-3015,-8902.0
162776,0,Cash loans,M,Y,Y,0,450000.0,540000.0,56835.0,540000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.026392,-10941,-4026,-910.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33243,0,Cash loans,M,N,Y,0,315000.0,331920.0,18135.0,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Single / not married,House / apartment,0.020246,-20301,365243,-23.0
148922,0,Cash loans,F,N,N,0,67500.0,339948.0,23656.5,315000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.019101,-22590,365243,-5105.0
209263,0,Cash loans,F,N,Y,0,45000.0,168102.0,9513.0,148500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.031329,-17920,-1837,-10196.0
3626,0,Cash loans,F,N,Y,0,315000.0,1188765.0,47272.5,1093500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,0.010500,-15927,-944,-9938.0
143645,0,Revolving loans,F,Y,Y,1,225000.0,405000.0,20250.0,405000.0,Unaccompanied,Working,Secondary / secondary special,Married,Municipal apartment,0.032561,-15377,-3401,-1337.0

In [12]:
df.to_csv("data/data.csv", index=False)
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION
179491,0,Cash loans,F,N,N,0,103500.0,625536.0,26631.0,540000.0,Family,Working,Secondary / secondary special,Single / not married,Municipal apartment,0.032561,-14921,-3844,-602.0
261005,0,Revolving loans,M,Y,Y,0,202500.0,292500.0,14625.0,292500.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.009657,-15458,-694,-9544.0
165031,0,Cash loans,F,Y,Y,0,247500.0,1442596.5,46665.0,1129500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,0.072508,-15603,-334,-3873.0
288742,0,Cash loans,M,N,N,0,270000.0,545040.0,26509.5,450000.0,Family,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,0.072508,-16392,-3015,-8902.0
162776,0,Cash loans,M,Y,Y,0,450000.0,540000.0,56835.0,540000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.026392,-10941,-4026,-910.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33243,0,Cash loans,M,N,Y,0,315000.0,331920.0,18135.0,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Single / not married,House / apartment,0.020246,-20301,365243,-23.0
148922,0,Cash loans,F,N,N,0,67500.0,339948.0,23656.5,315000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.019101,-22590,365243,-5105.0
209263,0,Cash loans,F,N,Y,0,45000.0,168102.0,9513.0,148500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.031329,-17920,-1837,-10196.0
3626,0,Cash loans,F,N,Y,0,315000.0,1188765.0,47272.5,1093500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,0.010500,-15927,-944,-9938.0
143645,0,Revolving loans,F,Y,Y,1,225000.0,405000.0,20250.0,405000.0,Unaccompanied,Working,Secondary / secondary special,Married,Municipal apartment,0.032561,-15377,-3401,-1337.0