In [1]:
cd ..

/tmp/ml-cost-function

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("application_train.csv")
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [8]:
df = df.sample(frac=0.1, random_state=10)
df = df.iloc[:, 1:20]
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION
44603,0,Cash loans,F,Y,Y,0,180000.0,755190.0,36459.0,675000.0,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,0.008625,-18667,-2150,-716.0
10079,0,Cash loans,M,N,Y,0,270000.0,868797.0,34587.0,702000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.046220,-17701,-1132,-4002.0
299737,1,Cash loans,M,Y,Y,0,315000.0,1006920.0,39933.0,900000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.028663,-15597,-3752,-3722.0
284241,1,Cash loans,M,Y,N,2,342000.0,476509.5,37647.0,360000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.002506,-13414,-1415,-631.0
84839,0,Cash loans,F,Y,Y,1,171000.0,332473.5,22347.0,274500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.006008,-10710,-277,-4892.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214832,0,Cash loans,F,N,N,1,202500.0,814041.0,23800.5,679500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.022800,-18405,365243,-4734.0
165067,0,Revolving loans,F,N,Y,0,90000.0,202500.0,10125.0,202500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.005144,-18960,-428,-787.0
52707,0,Revolving loans,F,N,N,0,72000.0,157500.0,7875.0,157500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.008068,-18097,-3970,-6309.0
95232,0,Cash loans,M,Y,Y,0,225000.0,265500.0,20677.5,265500.0,Family,Working,Secondary / secondary special,Married,House / apartment,0.018209,-16266,-972,-8959.0
84623,0,Cash loans,F,N,N,0,112500.0,254700.0,14751.0,225000.0,Unaccompanied,Working,Lower secondary,Single / not married,House / apartment,0.030755,-23923,-2750,-4842.0

In [9]:
df.to_csv("data.csv", index=False)
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION
44603,0,Cash loans,F,Y,Y,0,180000.0,755190.0,36459.0,675000.0,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,0.008625,-18667,-2150,-716.0
10079,0,Cash loans,M,N,Y,0,270000.0,868797.0,34587.0,702000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.046220,-17701,-1132,-4002.0
299737,1,Cash loans,M,Y,Y,0,315000.0,1006920.0,39933.0,900000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.028663,-15597,-3752,-3722.0
284241,1,Cash loans,M,Y,N,2,342000.0,476509.5,37647.0,360000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.002506,-13414,-1415,-631.0
84839,0,Cash loans,F,Y,Y,1,171000.0,332473.5,22347.0,274500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.006008,-10710,-277,-4892.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214832,0,Cash loans,F,N,N,1,202500.0,814041.0,23800.5,679500.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.022800,-18405,365243,-4734.0
165067,0,Revolving loans,F,N,Y,0,90000.0,202500.0,10125.0,202500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.005144,-18960,-428,-787.0
52707,0,Revolving loans,F,N,N,0,72000.0,157500.0,7875.0,157500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.008068,-18097,-3970,-6309.0
95232,0,Cash loans,M,Y,Y,0,225000.0,265500.0,20677.5,265500.0,Family,Working,Secondary / secondary special,Married,House / apartment,0.018209,-16266,-972,-8959.0
84623,0,Cash loans,F,N,N,0,112500.0,254700.0,14751.0,225000.0,Unaccompanied,Working,Lower secondary,Single / not married,House / apartment,0.030755,-23923,-2750,-4842.0